* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    height: 100vh;
    flex-direction: column;     /* * e main configuração para deixar todos eletmento centralizado */
    align-items: center;
    justify-content: center;
    gap: 5hv;
}

.botao {
    width: 80px;                /* tamanho do botão */
}